/* Reset & base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  background-color: #121212;
  color: #fff;
  height: 100vh;
}

/* Links (nav, etc.) */
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

nav a.active {
  font-weight: bold;
  color: #ffa500;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}


html, body {
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}